@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>DASHBOARD POWER BI</h1>
<iframe width="900" height="900" src="https://app.powerbi.com/view?r=eyJrIjoiM2E4NzAwZDMtMDY1Mi00MjgyLTk2OGMtNGRlNWRjNzlhZTQzIiwidCI6IjVmNTNiNGNlLTYzZDQtNGVlOC04OGQyLTIyZjBiMmQ0YjI3YSIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
