@model ProyectoX.Models.PagoPlanilla

@{
    ViewData["Title"] = "Crear";
}

<h1>CREAR</h1>

<h4>Pago Planilla General</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaPago" class="control-label"></label>
                <input asp-for="FechaPago" class="form-control" />
                <span asp-validation-for="FechaPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPagoPlanilla" class="control-label"></label>
                <input asp-for="TipoPagoPlanilla" class="form-control" />
                <span asp-validation-for="TipoPagoPlanilla" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSueldoEmpleado" class="control-label"></label>
                <select asp-for="IdSueldoEmpleado" class ="form-control" asp-items="ViewBag.IdSueldoEmpleado"></select>
            </div>
            <div class="form-group">
                <label asp-for="TotalSueldoEmpleado" class="control-label"></label>
                <input asp-for="TotalSueldoEmpleado" class="form-control" />
                <span asp-validation-for="TotalSueldoEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSueldoVendedor" class="control-label"></label>
                <select asp-for="IdSueldoVendedor" class ="form-control" asp-items="ViewBag.IdSueldoVendedor"></select>
            </div>
            <div class="form-group">
                <label asp-for="TotalSueldoVendedor" class="control-label"></label>
                <input asp-for="TotalSueldoVendedor" class="form-control" />
                <span asp-validation-for="TotalSueldoVendedor" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="FechaActualizacion" class="control-label"></label>
                <input asp-for="FechaActualizacion" class="form-control" />
                <span asp-validation-for="FechaActualizacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
