@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO</h1>
    <img src="~/img/Logo.gif" style="width:50%"/>
    <p>Paginas Web - Analisis de Sistemas 2</p>
</div>
