@model ProyectoX.Models.Vehiculos

@{
    ViewData["Title"] = "Crear";
}

<h1>CREAR</h1>

<h4>Vehiculos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uso" class="control-label"></label>
                <input asp-for="Uso" class="form-control" />
                <span asp-validation-for="Uso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Linea" class="control-label"></label>
                <input asp-for="Linea" class="form-control" />
                <span asp-validation-for="Linea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Placa" class="control-label"></label>
                <input asp-for="Placa" class="form-control" />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chasis" class="control-label"></label>
                <input asp-for="Chasis" class="form-control" />
                <span asp-validation-for="Chasis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serie" class="control-label"></label>
                <input asp-for="Serie" class="form-control" />
                <span asp-validation-for="Serie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asientos" class="control-label"></label>
                <input asp-for="Asientos" class="form-control" />
                <span asp-validation-for="Asientos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cilindraje" class="control-label"></label>
                <input asp-for="Cilindraje" class="form-control" />
                <span asp-validation-for="Cilindraje" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="FechaActualizacion" class="control-label"></label>
                <input asp-for="FechaActualizacion" class="form-control" />
                <span asp-validation-for="FechaActualizacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
