@model ProyectoX.Models.Despacho

@{
    ViewData["Title"] = "Crear";
}

<h1>CREAR</h1>

<h4>Despacho</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdFactura" class="control-label"></label>
                <select asp-for="IdFactura" class ="form-control" asp-items="ViewBag.IdFactura"></select>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaSalida" class="control-label"></label>
                <input asp-for="DiaSalida" class="form-control" />
                <span asp-validation-for="DiaSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraSalida" class="control-label"></label>
                <input asp-for="HoraSalida" class="form-control" />
                <span asp-validation-for="HoraSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LugarDespacho" class="control-label"></label>
                <input asp-for="LugarDespacho" class="form-control" />
                <span asp-validation-for="LugarDespacho" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="FechaActualizacion" class="control-label"></label>
                <input asp-for="FechaActualizacion" class="form-control" />
                <span asp-validation-for="FechaActualizacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
